$color-gray-table: #cfdce5;

.ui-table-container {
  background-color: $color-white;
  border-radius: 8px;
}

.ui-table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 22px;

  &__filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  &__search-input {
    display: flex;
    align-items: center;
    max-width: 215px;
    height: 32px;
    border: 1px solid $color-gray-table;
    border-radius: 6px;
    font-size: 14px;

    input {
      padding: 8px;
    }

    mat-icon {
      color: $color-gray-dark;
      margin-right: 8px;
    }
  }

  &__btn-filters {
    font-family: "Lato";
    font-weight: 600;
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    cursor: pointer;

    &:hover,
    &--active {
      background-color: $color-gray-table;
    }

    .mat-icon {
      font-size: 15px;
      height: 15px;
      width: 15px;
    }
  }
}

.ui-table-filters {
  display: flex;
  justify-content: space-between;
  padding: 0 22px;
}

.ui-table {
  font-family: "Lato", sans-serif;
  width: 100%;
  border-radius: 8px;
  border-bottom: 1px solid $color-gray-table;

  tr.mat-row {
    height: 81px;
  }

  td.mat-cell {
    border-bottom-style: none;
  }

  th.mat-header-cell {
    padding: 0;
    border-bottom: 2px solid $color-gray-table;
  }

  .mat-row:nth-child(even) {
    background-color: $color-gray-light;
  }

  .mat-sort-header {
    font-size: 14px;
    font-weight: 700;
    color: $color-black;
  }

  &__cell_column {
    display: flex;
    flex-direction: column;
  }

  &__secondary-text {
    font-size: 12px;
    color: $color-gray-dark;
  }

  &__column-end {
    text-align: right;
  }
}
