nav{
    background-color: #11C76F !important;
}
.navbar-light .navbar-brand {
    color:#FFF !important;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color:#FFF !important;
}
.nav-item li a{
    color:#FFF !important;
}
.navbar-light .navbar-nav .nav-link {
    color:#FFF !important;
}
h1{
    font-size: 1em;
}