.btn{
    margin-top: 15px;
    margin-bottom: 30px;
    margin-right: 5px;
}
.green{
    background: #11c76f;
    border-radius: 40px;
    color: #FFF;
    border: 2px solid  #11c76f;
    padding: 8px 24px;
}
.green:hover{
    background: #FFF;
    color: #11c76f;
}