<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Pagamento para <span>{{ user.name }}</span></h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        
        <input class="form-control" [(ngModel)]="valuePay" id="valuePay" name="valuePay" mask-money [prefix]="'R$'"  placeholder="R$ 0,00" required/>
        <div class="form-group">
          <select [(ngModel)]="dataCard" aria-label="Selecione" id="dataCard" name="dataCard" class="form-control">
              <option *ngFor="let card of cards" [ngValue]="card">Cartão com final {{ card.card_number | slice:-4}}</option>
          </select>
      </div>


      </div>
    </form>
  </div>
  <div *ngIf="dataCard" class="modal-footer">
    <app-transaction-btn 
      [valuePay]="valuePay" 
      [dataCard]="dataCard.card_number"
      [cvv]="dataCard.cvv"
      [expiry_date]="dataCard.expiry_date"
      [destination_user_id]="user.id"
      [closePay]="modalReference"
    >
    </app-transaction-btn>
  </div>
</ng-template>

<a class="btn green" (click)="open(content)">Pagar</a>

