// COLORS
$color-primary: #007dfe;
$color-primary-dark: #002d69;
$color-secondary: #f2f2f2;
$color-gray: #f5f5f5;
$color-gray-background: #f2f2f2;
$color-gray-light: #f5f8fa;
$color-gray-dark: #69788c;
$color-white: #fff;
$color-black: #333333;

// VIEWPORTS
$bp-medium: 900px;
$bp-small: 650px;
