<div class="card user" *ngFor="let user of users | paginate: { itemsPerPage: 3, currentPage: currentPage }; let i = index">
    <div class="card-body">
        <div class="row">
            <div class="col-md-2 col-xs-12">
                <img class="img" src='{{ user.img }}'/>
            </div>
            <div class="col-md-6 col-xs-12">
            <h3>Nome Usuário:  {{ user.name }} </h3>
            <p>ID: {{ user.id }} - Username: {{ user.username }}</p>
            </div>
            <div class="col-md-4 col-xs-12">
                <app-modal [user]="user"></app-modal>
            </div>
        </div>
    </div>
  </div>
<pagination-controls (pageChange)="currentPage = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>