.btn{
    margin-top: 15px;
    margin-bottom: 15px;
}
.green{
    background: #11c76f;
    border-radius: 40px;
    color: #FFF;
    border: 2px solid  #11c76f;
    padding: 8px 24px;
}
.green:hover{
    background: #FFF;
    color: #11c76f;
}
.modal-header{
    background: #11c76f;
    color: #FFF;
}
.modal-title span{
    color: #263224;
}
.modal-content{
    border: transparent;
}
.modal-body{
    text-align: center;
}