<div class="ui-modal">
  <h1 mat-dialog-title>{{ payment ? "Editar" : "Adicionar" }} pagamento</h1>
  <div mat-dialog-content>
    <form class="form" [formGroup]="form" (ngSubmit)="submit()">
      <div class="form__row">
        <mat-form-field appearance="outline">
          <mat-label>Usuário</mat-label>
          <input required matInput formControlName="name" name="name" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Valor</mat-label>
          <input
            required
            matInput
            currencyMask
            formControlName="value"
            name="value"
          />
        </mat-form-field>
      </div>

      <div class="form__row">
        <mat-form-field appearance="outline">
          <mat-label>Data</mat-label>
          <input
            required
            matInput
            (focus)="picker.open()"
            [matDatepicker]="picker"
            name="date"
            formControlName="date"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Título</mat-label>
          <input
            required
            matInput
            placeholder="Título"
            formControlName="title"
            name="title"
          />
        </mat-form-field>
      </div>
      <div class="ui-modal__actions">
        <button
          id="save"
          color="primary"
          mat-raised-button
          class="form-submit"
          type="submit"
          [disabled]="form.invalid"
        >
          Salvar
        </button>
        <button
          id="cancel"
          type="button"
          color="secondary"
          mat-raised-button
          (click)="cancel()"
        >
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
